.characters__container {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.characters__form {
}

.form__main form {
    background-color: tomato;
    display: flex;
    flex-direction: column;
    
}