/* 
    Author: Ikkrit;
    Theme: Genshin Impact;
    version: 1;
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-white: #f4f4f4;
    --color-white-lg: #F0FFF0;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg-master: #1D2327;
    --color-bg-gray-light: #585E6C;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
    --radius: 5px;
    --shadow-box: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--color-white);
}

.container {
    max-width: 1600px;
    margin: auto;
}

a {
    text-decoration: none;
}

.message__text {
   position: absolute;
   display: block;
   top: 15vh;
   z-index: 12;
   width: 100%;
   text-align: center;
}


/*====================================== NAVBAR ======================================*/


.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px 25px;
    background: #fafafa;
    box-shadow: inset 0px -1px 0px #c5c5c6;
    z-index: 100;
}

.navbar.sticky {
    background: black;
    transition: var(--transition);
    padding: 15px 25px;
}

.navbar.sticky span {
    color: var(--color-white);
}

.navbar.sticky a {
    color: var(--color-white);
}

.navbar.sticky .navlinks__container a::after {
    background: var(--color-white);
}

.navbar__icon {
    display: flex;
    align-items: center;
    margin-right: 20px;
    text-decoration: none;
}

.navbar__icon span {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    color: #333;
}

.navbar__icon img {
    width: 40px;
}

.navbar__hamburger {
    display: none;
}

.navlinks__container a {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #414141;
}

.navlinks__container a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    background: #333;
    transition: transform 0.3s ease-out;
}

.navlinks__container a:hover::after {
    transform: scaleX(1);
}

.navbar__authentication {
    margin-left: auto;
}

.sign__btns .sign__button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    min-width: 90px;
    padding: 10px 5px;
    margin: 0 5px;
    border-radius: var(--radius);
    cursor: pointer;
    border: none;
}

.sign__btns .sign__button:nth-child(2) {
    border: none;
    background: rgba(146, 195, 238, 0.718);
}

.sign__user {
    display: none;
}

@media (max-width: 900px) {
    .navbar {
        padding: 15px 20px;
    }
    .navbar__icon {
        order: 2;
        margin: 0 auto;
    }
    .navbar__icon span {
        font-size: 22px;
    }
    .main__navlinks {
        order: 1;
    }
    .navbar__hamburger {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: none;
        display: flex;
        background: #fafafa;
        align-items: center;
        position: relative;
    }

    .navbar.sticky .navbar__hamburger {
        background: black;
    }

    .navbar.sticky .navbar__hamburger span {
        background: var(--color-white);
    }

    .navbar.sticky .sign__user {
        background: var(--color-white);
        border-radius: var(--radius);
    }

    .navbar.sticky a {
        color: var(--color-black);
    }

    .navbar.sticky .navlinks__container a::after {
        background: var(--color-black);
    }

    .navbar__hamburger span {
        display: block;
        width: 100%;
        height: 2px;
        background: #333;
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s 0.15s ease-out;
    }
    .navbar__hamburger span:nth-child(1),
    .navbar__hamburger span:nth-child(3) {
        transition: transform 0.3s ease-out;
    }
    .navbar__hamburger span:nth-child(1) {
        transform: translateY(7px);
    }
    .navbar__hamburger span:nth-child(3) {
        transform: translateY(-7px);
    }
    .navbar__hamburger.open span:nth-child(1) {
        transform: translate(0) rotate(135deg);
    }
    .navbar__hamburger.open span:nth-child(2) {
        opacity: 0;
        transition: opacity 0s ease-out;
    }
    .navbar__hamburger.open span:nth-child(3) {
        transform: translate(0) rotate(-135deg);
    }
    .navlinks__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background: #fafafa;
        top: 100%;
        left: 0;
        height: 100vh;
        padding: 15px 50px 15px 20px;
        border-right: 1px solid #c5c5c6;
        transform: translate(-100%);
    }
    .open {
        transform: translate(0%);
    }
    .navlinks__container a {
        font-size: 18px;
        margin: 10px 0;
    }
    .navbar__authentication {
        order: 3;
        margin-left: 0;
    }
    .sign__btns {
        display: none;
    }
    .sign__user {
        display: block;
        cursor: pointer;
        border: none;
    }
    .sign__user img {
        width: 20px;
    }
}

@media (max-width: 500px) {
    .navbar__icon img {
        width: 30px;
    }
    .navbar__icon span {
        font-size: 20px;
    }
}


/*====================================== HEADER ======================================*/


.header {
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    max-width: 1600px;
    margin: auto;
    z-index: 999;
    overflow-x: hidden;
}

.header__content {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.header__content::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
}

.header__content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#moon {
    mix-blend-mode: screen;
}

#mountains_front {
    z-index: 10;
}

#header__text {
    position: absolute;
    right: -350px;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}

#btn_header {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

.header__section {
    position: relative;
    padding: 100px;
    background: #1c0522;
}

.header__section h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}

.header__section p {
    font-size: 1em;
    color: #fff;
}

@media (max-width: 900px) {
    .header {
        max-height: 80vh;
        overflow: hidden;
        width: 900px
    }
}

@media (max-width: 500px) {
    .header {
        max-height: 50vh;
        overflow: hidden;
        width: 500px
    }
}


/*====================================== FOOTER ======================================*/


.footer {
    background: #24262b;
    padding: 70px 20px;
}

.footer__row {
    display: flex;
    flex-wrap: wrap;
}

.footer__col {
    width: 25%;
    padding: 0 15px;
}

.footer__col h4 {
    font-size: 18px;
    color: var(--color-white);
    text-transform: uppercase;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer__col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer__list {
    display: flex;
    flex-direction: column;
}

.footer__list a {
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--color-white);
    font-weight: 300;
    display: block;
    transition: var(--transition);
}

.footer__list a:hover {
    color: #fff;
    padding-left: 8px;
}

.footer__col-links {
    flex-direction: row;
    flex-wrap: wrap;
}

.footer__col-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: var(--color-white);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: var(--radius);
    transition: var(--transition);
}

.footer__col-links a:hover {
    padding-left: 0;
    background: #e91e63;
}

@media (max-width: 900px) {
    .footer__col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 500px) {
    .footer__col {
        width: 100%;
        margin-bottom: 30px;
    }
}